.title {
  composes: common from '../../assets/common.module.css';
  font-size: 20px;
  color: red;
}

.list-title {
  color: #004000;
  font-family: bold;
}

.digital {
  border-radius: 5px;
  margin: 0 20px;
  padding: 10px;
  border: #eaeaea solid 1px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
}